<html>

<head>
  <style>

  </style>
  <title></title>
</head>

<body bgcolor="black">
  <canvas id="myChart"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>
    var ctx = document.getElementById('myChart').getContext('2d');

    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
        labels: {{ myNames|safe }},
        datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(50, 50, 50)',
          borderColor: 'rgb(255, 100, 100)',
          borderWidth: 2,
          data: {{ myData|safe }}
        }]
      },

      // Configuration options go here
      options: {
        responsive: true,
        
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: true,
              drawBorder: false
            },
            ticks: {
              suggestedMax: 10,
              beginAtZero: true,
              display: true
            }
          }]
          ,
          xAxes: [{
            gridLines: {
              display: false,
              drawBorder: false,
            },
            ticks: {

              fontSize: 20,
              fontColor: 'rgb(255, 100, 100)'
            },
          }]
        },
        events: ['click'],
        onClick: graphClickEvent
      }
    });

    function graphClickEvent(event, array) {

      idx = this.scales['x-axis-0'].getValueForPixel(event.x);

      $.getJSON('/background_process_test',{idx: idx},
      
      function(data) {
        console.log(data);
        chart.data.datasets[0].data = data['data'];
        chart.data.labels= data['names'];
        chart.update();  
      });
      // }

    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>

    jQuery(document).on('keydown', 'input.large', function(ev) {
        if(ev.key === 'Enter') {
            // Will change backgroundColor to blue as example
            this.style.backgroundColor = '#EFF';
            $.getJSON('/update',{name: this.value},
            function(data) {
              chart.data.datasets[0].data = data['data'];
              chart.data.labels= data['names'];
              chart.update();  
            });
            this.value = "";
            // Avoid form submit
            return false;
        }
    });
  </script> 

  <div class='container'>
        <form>
            <input id="subject" type="text" class="large" name="subject">
        </form>
  </div>
</body>

</html>